<% include header.ejs %>
<div class="container">
    <div class="page-header" id="banner">
        <div class="row">
            <div class="col-lg-6 col-md-7 col-sm-6">

                <h3>Add a project</h3>
                <h3>OR</h3>
                <h3>Update project</h3>
                <br/>
                <form enctype="multipart/form-data" class="form-horizontal">
                    <div class="alert alert-danger">
                        <p>Please correct errors</p>
                        <br/>
                        <div>
                            <ul>
                                <li>
                                    Error detail
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Project name</label>
                        <div class="col-lg-9">
                            <input id="projectName" type="text"
                                    <% if (typeof project !== 'undefined' && project) { %>
                                   value="<%= project.name %>"
                                    <% } %>
                                   class="form-control" name="projectName"
                                   title="projectName"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Required Manday</label>
                        <div class="col-lg-9">
                            <input id="reqManday" type="number"
                                    <% if (typeof project !== 'undefined' && project) { %>
                                   value="<%= project.manday %>"
                                    <% } %>
                                   class="form-control" name="reqManday"
                                   title="reqManday"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Comment</label>
                        <div class="col-lg-9">
                            <input id="comment" type="text" class="form-control" name="comment" title="comment"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Due date</label>
                        <div class="col-lg-9">
                            <input id="dueDate" type="date"
                                    <% if (typeof project !== 'undefined' && project) { %>
                                   value="<%= project.dueDate %>"
                                    <% } %>
                                   class="form-control" name="dueDate" title="dueDate"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Required skills</label>
                        <div class="col-lg-6"><a href="/projects" class="btn btn-xs btn-primary"
                                                 onclick="return confirm('Are you sure you want to delete this item?');">x</a>
                            <% for (key in projects) { var project2 = projects[key]; %>
                            <span> <%= project2.reqSkills.name %></span></div>
                        <% } %>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-6 col-lg-offset-2">
                            <div class="input-group">
                                <select name="skillId" class="form-control" title="skills">
                                    <% for (project in projects) { var item = project %>
                                    <option value="<%= projects[item].reqSkills.name %>"></option>
                                    <% } %>
                                </select>
                                <span class="input-group-btn">
									<button href="/projects" type="submit" class="btn btn-default">Add skill</button>
								</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-12 col-lg-offset-3">
                            <button type="submit" class="btn btn-primary" name="button">Create
                            </button>
                        </div>
                        <div class="col-lg-12 col-lg-offset-3">
                            <button type="submit" class="btn btn-primary" name="button">Update
                            </button>
                            <a id="btn-cook" class="btn btn-warning"
                               role="button">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-6">
                <h3>Projects</h3>
                <br/>
                <form method="get" enctype="multipart/form-data" class="form-horizontal">
                    <fieldset>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Name</label>
                            <div class="col-lg-9">
                                <input id="nameFilter" type="text" class="form-control" name="nameFilter"
                                       title="nameFilter"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Due date</label>
                            <div class="col-lg-9">
                                <input id="dueDateFiler" type="date" class="form-control" name="dueDateFiler"
                                       title="dueDateFiler"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-12 col-lg-offset-3">
                                <button href="project.html" type="submit" class="btn btn-primary">Filter
                                </button>
                            </div>
                        </div>
                    </fieldset>
                </form>
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Manday</th>
                        <th>Due date</th>
                        <th>Required skills</th>
                        <th>Developers</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <% for (key in projects) { var project = projects[key]; %>
                    <tr>
                        <td><span><%= project.name %></span></td>
                        <td><span><%= project.manday %></span></td>
                        <td><span><%= project.dueDate %></span></td>
                        <td><span><%= project.reqSkills %></span></td>
                        <td><span><%= project.developers.name %></span></td>
                        <td>
                            <a href="adddevtoproject/<%= project.id %>" class="btn btn-success">Developers</a>
                            <a href="/projects/<%= project.id %>/edit" class="btn btn-primary">Edit</a>
                            <a href="/projects/<%= project.id %>/delete" class="btn btn-danger"
                               onclick="return confirm('Are you sure you want to delete this item?');"><span
                                        class="glyphicon glyphicon-trash"></span></a>
                        </td>
                    </tr>
                    <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<% include footer.ejs %>